
.bg-img {
  background: url("../images/lp_back.jpg") center center no-repeat;
  background-size: cover;
}
.gradient {
    background-image:linear-gradient(to right, rgba(0,195,255,0.5), rgba(255,255,28,0.5));
    height: 100%;
}

h1{
    color:white;
    font-family: 'Lobster', cursive;
    font-size: 88px;
}
h2,h3{
    font-family: 'Anton', sans-serif;
    color: white;
}
.cabeza{
    height:150px;
}
#nav_cabeza{
    position: relative;
    top:55px;
    font-family: 'Anton', sans-serif;
    font-size: 18px;
}
p{
    color:white;
    font-family: 'Roboto', sans-serif;
}

.gt_title{
    color:white;
}
.hotel{
    color:white;
}
a.hotel:visited{
    color:white;
}
.collapse{
    color:white;
    font-family: 'Roboto', sans-serif;
    padding-right:48px;
}
#footer{
    height:277px;
}
/* Responsive letters - header and nav bar */
@media only screen and (max-width: 1170px){
    h1{
        font-size: 80px;
    }
    .cabeza{
        height: 130px;
    }
    #nav_cabeza{
        top:43px;
        font-size: 17px;
    }
}
/* after here take all properties and let it flow normally */
@media only screen and (max-width: 990px){
    h1{
        font-size: 80px;
    }
    .cabeza{
        height: auto;
    }
    #nav_cabeza{
        position:static;
        font-size: 17px;
    }
    #div_nav_bar{
        height:auto;
    }
}
@media only screen and (max-width: 750px){
    h1{
        font-size: 80px;
    }
    #nav_cabeza{
        font-size: 17px;
    }
}

@media only screen and (max-width: 550px){
    h1{
        font-size: 65px;
    }

}
@media only screen and (max-width: 410px){
    h1{
        font-size: 55px;
    }
}
@media only screen and (max-width: 350px){
    h1{
        font-size: 48px;
    }
}
